<div style="padding-top: 70px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="mt-5" style="padding-bottom: 10px;">Imagenes</h2>
                <div class="dropdown" style="text-align: right; padding-right: 100px;">
                    <button class="btn btn-secondary dropdown-toggle" style="text-align: left !important" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Categoria
          </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><button class="dropdown-item" value="science" #catBuscar1 (click)="buscarCat(catBuscar1.value)">Science</button></li>
                        <li><button class="dropdown-item" value="education" #catBuscar2 (click)="buscarCat(catBuscar2.value)">Education</button></li>
                        <li><button class="dropdown-item" value="people" #catBuscar3 (click)="buscarCat(catBuscar3.value)">People</button></li>
                        <li><button class="dropdown-item" value="feelings" #catBuscar4 (click)="buscarCat(catBuscar4.value)">Feelings</button></li>
                        <li><button class="dropdown-item" value="computer" #catBuscar5 (click)="buscarCat(catBuscar5.value)">Computer</button></li>
                        <li><button class="dropdown-item" value="buildings" #catBuscar6 (click)="buscarCat(catBuscar6.value)">Buildings</button></li>
                    </ul>
                </div>
            </div>

        </div>

        <app-img-grid *ngIf="imgs.length>0" [imgs]="imgs"></app-img-grid>

    </div>

</div>